<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Current Roster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
</head>
<body>

    <table class="table table-striped">

        <thead class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">Extension</th>
            <th scope="col">Contact URI</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Support</th>
            <th scope="col">Accounts</th>
            <th scope="col">Sales</th>
            <th scope="col">Tier</th>
            <th scope="col">Roster ID</th>
            <th scope="col">Is Working?</th>
        </thead>

        <tbody>
            {% for worker in workers %}
                <tr>
                    <td>{{ worker.personid }}</td>
                    <td>{{ worker.extension }}</td>
                    <td>{{ worker.contacturi }}</td>
                    <td>{{ worker.name }}</td>
                    <td>{{ worker.email }}</td>
                    <td>{{ worker.support }}</td>
                    <td>{{ worker.accounts }}</td>
                    <td>{{ worker.sales }}</td>
                    <td>{{ worker.tier }}</td>
                    <td>{{ worker.id }}</td>
                    <td>{{ worker.isworking }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

</body>
</html>